.card-name {
    margin-bottom: 8px;
    color: #172b4d;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    max-width: 300px;
    min-height: 20px;
    padding: 6px 8px 2px;
    position: relative;
    &:hover {
        border-bottom-color: rgba(9,30,66,.25);
        background: f4f5f7;
    }
    &__layer {
        border-radius: 4px;
        width: 100%;
        padding: 6px 8px 2px;
        background: rgba(9,30,66,.13);
        z-index: -1;
        display: none;
        margin-bottom: 8px;
        &_visible {
            display: block;
        }
    } 
}